{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>

            <h2>{{place.name}}</h2>
            <a href="https://www.google.com/maps/place/{{place.address.number}}+{{place.address.streetName}}+{{place.address.streetType}},+{{place.address.city}},+{{place.address.state}}"><img src="{{place.img}}" alt="{{place.name}}"></a>
            <!-- <img src="{{place.img}}" alt="{{place.name}}"> -->
            <p>
                {{place.description}}
            </p>
            <div class="btn-group">

                <a href="/places/{{place._id}}/edit" class="btn btn-primary">Edit {{place.name}}</a>
                <form action="/places/{{place._id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </article>
    </div>
{% endblock %}